# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
fastapienv/
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE - JetBrains
.idea/

# IDE - VS Code
.vscode/

#database
*.db*.db
